#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
  display: grid;
  width: 100%;
  
}

body {
  color: aquamarine;
}

.navTotal {
  background-color: #213547;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;

}


